[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = for test purposes
[access "refs/*"]
	owner = group user/jc4dimension
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jc4dimension
	label-Verified = -1..+1 group user/jc4dimension
	push = group user/jc4dimension
	read = group user/jc4dimension
	rebase = group user/jc4dimension
	removeReviewer = group user/jc4dimension
	submit = group user/jc4dimension
[access "refs/heads/*"]
	create = group user/jc4dimension
	push = +force group user/jc4dimension
	pushMerge = group user/jc4dimension
	read = group user/jc4dimension
[access "refs/tags/*"]
	push = group user/jc4dimension
	push = +force group user/jc4dimension
